body {
    background-color: NavajoWhite;
    box-shadow: inset 0px 0px 75px DarkOrange;
    color: rgba(0,0,0,0.8);
    padding: 70px;
    font-family: 'Prata';
}

h2 {
    font-family: 'Cinzel';
    text-align: center;
    font-size: 150%;
}

h1 {
    font-family: 'Cinzel';
    text-align: center;
    text-transform: Capitalize;
		      
}
h3 {
    font-family: 'Cinzel';
    text-align: center;
}

a:link {
    color: Chocolate;
}

a:visited {
    color: OrangeRed;
}

p {
    color: rgba(0,0,0,0.6);
    line-height: 1.5;
    text-align: center;
}

img {
    box-shadow: 10px 10px 5px rgba(0,0,0,0.5);
    height: auto;
    width: auto;
    max-width:300px
		  
}
